# ---------------------------------------
# prometheus/prometheus.yml
# ---------------------------------------
# Scrapea a sí mismo y a exporters/servicios que expongan /metrics.
# Agrega aquí tus targets (API, workers) cuando instrumentes con prometheus_client.

# Prometheus config
---
global:
  scrape_interval: 10s
  evaluation_interval: 30s

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ['__OBS_IP__:9090']


  # Removed RabbitMQ scraping (migrated to AWS SQS)

  - job_name: cadvisor
    static_configs:
      - targets:
        - "__AUTH_IP__:8080"
  
  # Descubrimiento dinámico: cAdvisor en Worker (puerto 8080)
  - job_name: worker-cadvisor
    ec2_sd_configs:
      - region: us-east-1
        port: 8080
        filters:
          - name: tag:Name
            values: ["anb-worker"]
        refresh_interval: 30s
    relabel_configs:
      - source_labels: [__meta_ec2_private_ip]
        target_label: instance_ip
      - source_labels: [__meta_ec2_instance_id]
        target_label: instance_id
      - source_labels: [__meta_ec2_availability_zone]
        target_label: az

  - job_name: "api-auth"
    metrics_path: /auth/metrics
    static_configs:
      - targets: ["__AUTH_IP__:8001"]


  # Descubrimiento dinámico: Core API (todas las instancias del ASG)
  - job_name: core-api
    ec2_sd_configs:
      - region: us-east-1
        port: 8000
        filters:
          - name: tag:Name
            values: ["anb-core"]
        refresh_interval: 30s
    relabel_configs:
      - source_labels: [__meta_ec2_private_ip]
        target_label: instance_ip
      - source_labels: [__meta_ec2_instance_id]
        target_label: instance_id
      - source_labels: [__meta_ec2_availability_zone]
        target_label: az
      - source_labels: [__meta_ec2_tag_Project]
        target_label: project

  # Descubrimiento dinámico: cAdvisor en Core (puerto 8080)
  - job_name: core-cadvisor
    ec2_sd_configs:
      - region: us-east-1
        port: 8080
        filters:
          - name: tag:Name
            values: ["anb-core"]
        refresh_interval: 30s
    relabel_configs:
      - source_labels: [__meta_ec2_private_ip]
        target_label: instance_ip
      - source_labels: [__meta_ec2_instance_id]
        target_label: instance_id
      - source_labels: [__meta_ec2_availability_zone]
        target_label: az

  # Descubrimiento dinámico: métricas del Worker (puerto 9100)
  - job_name: "worker"
    metrics_path: /metrics
    ec2_sd_configs:
      - region: us-east-1
        port: 9100
        filters:
          - name: tag:Name
            values: ["anb-worker"]
        refresh_interval: 30s
    relabel_configs:
      - source_labels: [__meta_ec2_private_ip]
        target_label: instance_ip
      - source_labels: [__meta_ec2_instance_id]
        target_label: instance_id
      - source_labels: [__meta_ec2_availability_zone]
        target_label: az

