# ---------------------------------------
# prometheus/prometheus.yml
# ---------------------------------------
# Scrapea a sí mismo y a exporters/servicios que expongan /metrics.
# Agrega aquí tus targets (API, workers) cuando instrumentes con prometheus_client.

# Prometheus config
---
global:
  scrape_interval: 10s
  evaluation_interval: 30s

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ['__OBS_IP__:9090']


  - job_name: rabbitmq
    static_configs:
      - targets: ['__MQ_IP__:15692']

  - job_name: cadvisor
    static_configs:
      - targets:
        - "__CORE_IP__:8080"
        - "__AUTH_IP__:8080"
        - "__MQ_IP__:8080"
        - "__WORKER_IP__:8080"

  - job_name: "api-auth"
    metrics_path: /auth/metrics
    static_configs:
      - targets: ["__AUTH_IP__:8001"]

  - job_name: "api-core"
    metrics_path: /metrics
    static_configs:
      - targets: ["__CORE_IP__:8000"]

  - job_name: "worker"
    metrics_path: /metrics
    static_configs:
      - targets: ["__WORKER_IP__:9100"]

